* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f7fb;
  color: #293264;
  font-family: "Inter", sans-serif;
  background-image: url(../src/assets/blobs-yellow.png);
  background-repeat: no-repeat;
  background-position: right top;
}

button {
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}

/* START PAGE */

section.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

section.start-page h1 {
  font-family: "Karla", sans-serif;
  font-size: 1.95rem;
  font-weight: 800;
}

section.start-page p {
  font-size: 1rem;
  font-weight: normal;
}

section.start-page button {
  padding: 1rem 3.8rem;
}

/* GAME PLAY */

section.game-play {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.game-play .question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid #dbdef0;
  width: 750px;
  padding: 1.3rem;
}

section.game-play h2 {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

section.game-play form {
  display: flex;
  gap: 0.81rem;
}

section.game-play input[type="radio"] {
  appearance: none;
}

section.game-play label {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  font-size: 0.7rem;
  color: #293264;
  border: 1px solid #4d5b9e;
  border-radius: 15px;
  cursor: pointer;
}

section.game-play label:hover {
  background-color: #d6dbf5;
}

section.game-play label.checked {
  background-color: #d6dbf5;
}

section.game-play label.correct-answers {
  background-color: #94d7a2;
}

section.game-play label.wrong-answers {
  background-color: #f8bcbc;
}

section.game-play button {
  padding: 1rem 2rem;
  margin-top: 2rem;
}
